{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Привет, Мир! (static)</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <img src="{% static 'logo.png' %}" alt="logo">
    <h1>Привет, Мир!</h1>


    <h2>Это учебный сайт, с его помощью будут изучены технологии Python/Django, HTML/CSS.</h2>
    <h3>Как видите, здесь используются заголовки различных уровней.</h3>

    <h4>Маркированный список</h4>
    <ul>
        <li>Элемент 1;</li>
        <li>Элемент 2;</li>
        <li>Элемент 3;</li>
        <li>последний элемент.</li>
    </ul>

    <h4>Нумерованный список</h4>
    <ol>
        <li>Элемент 1;</li>
        <li>Элемент 2;</li>
        <li>Элемент 3;</li>
        <li>последний элемент.</li>
    </ol>

    <p>И даже таблица:</p>
    <table>
        <thead>
            <tr>
                <th>Столбик 1</th>
                <th>Столбик 2</th>
                <th>Столбик 3</th>
                <th>Столбик 4</th>
                <th>Столбец 5</th>
                <th>Столбец 6</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Строка 1 Столбец 1</td>
                <td>Строка 1 Столбец 2</td>
                <td>Строка 1 Столбец 3</td>
                <td>Строка 1 Столбец 4</td>
                <td>Строка 1 Столбец 5</td>
                <td>Строка 1 Столбец 6</td>
            </tr>
            <tr>
                <td>Строка 2 Столбец 1</td>
                <td>Строка 2 Столбец 2</td>
                <td>Строка 2 Столбец 3</td>
                <td>Строка 2 Столбец 4</td>
                <td>Строка 2 Столбец 5</td>
                <td>Строка 2 Столбец 6</td>
            </tr>
            <tr>
                <td>Строка 3 Столбец 1</td>
                <td>Строка 3 Столбец 2</td>
                <td>Строка 3 Столбец 3</td>
                <td>Строка 3 Столбец 4</td>
                <td>Строка 3 Столбец 5</td>
                <td>Строка 3 Столбец 6</td>
            </tr>
            <tr>
                <td>Строка 4 Столбец 1</td>
                <td>Строка 4 Столбец 2</td>
                <td>Строка 4 Столбец 3</td>
                <td>Строка 4 Столбец 4</td>
                <td>Строка 4 Столбец 5</td>
                <td>Строка 4 Столбец 6</td>
            </tr>
            <tr>
                <td>Строка 5 Столбец 1</td>
                <td>Строка 5 Столбец 2</td>
                <td>Строка 5 Столбец 3</td>
                <td>Строка 5 Столбец 4</td>
                <td>Строка 5 Столбец 5</td>
                <td>Строка 5 Столбец 6</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
